
#MainMenu {visibility: hidden;}
footer{visibility: hidden}
header{visibility: hidden}

div.css-1v0mbdj.etr89bj1 img{
    width: 200px;
    height: 275px;
    border-radius: 25%;
}

.css-1fv8s86 input[type="text"]{
    width: 100%;
    margin-bottom: 2px;
}

.css-1fv8s86 input[type="email"]{
    width: 100%;
    margin-bottom: 2px;
}

.css-1fv8s86 textarea{
    width: 100%;
    height: 100px;
}

.css-1fv8s86 button{
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.css-1fv8s86 button:hover {
		box-shadow:inset 0px 39px 0px -24px #e67a73;
		background-color:#e4685d;
		border-radius:4px;
		border:1px solid #ffffff;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		padding:6px 15px;
		text-decoration:none;
		text-shadow:0px 1px 0px #b23e35;
	}
	.myButton:hover {
		background-color:#eb675e;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}

  .css-1fv8s86 button:active {
  position:relative;
  top:1px;
  }